
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: Montserrat;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #003338;
  color: #F2F2F2;
  padding: 20px 100px;
  height: 80px;
}

.logo {
  margin-right: auto;
  padding-left: 30px;
}

.logo img {
  height: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.menu li a:hover {
  color: #FC924B;
}

/* HOME */


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.hero {
  background: url('hero.jpg') no-repeat center center/cover;
  height: 100vh;
  background: #003338;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -60px;
}

.hero .container {
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #FC924B;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.btn:hover ~ form input[type="submit"] {
  background: #003338;
  border: 3px solid #FC924B;
}


section {
  padding: 60px 0;
}

.gray-bg {
  background: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

/* General styling for the section */
section#destinations {
  background-color: #f9f9f9;
  padding: 60px 0;
}

/* Styling for the destination cards */
.card {
  display: flex;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.card img {
  width: 30%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.card-content p {
  font-size: 1rem;
  color: #666;
}

.card-content .btn {
  align-self: flex-start;
  background: #FC924B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.card-content .btn:hover {
  background: #003338;
}


.card, .tour-card {
  display: flex;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.card img, .tour-card img {
  width: 30%;
  object-fit: cover;
}

.card-content, .tour-content {
  padding: 20px;
}

.card-content h3, .tour-content h3 {
  margin-top: 0;
}

/* General styling for the section */
section#tours {
  background-color: #f9f9f9;
  padding: 60px 0;
}

/* Styling for the tour cards */
.tour-card {
  display: flex;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.tour-card img {
  width: 30%;
  object-fit: cover;
}

.tour-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tour-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.tour-content p {
  font-size: 1rem;
  color: #666;
}

.tour-content .btn {
  align-self: flex-start;
  background: #FC924B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

.tour-content .btn:hover {
  background: #003338;
}

.more-tours {
  display: none;
}

.see-more {
  display: block;
  margin: 20px auto;
  background: #FC924B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
}

.see-more:hover {
  background: #003338;
}



footer {
  background: #003338;
  color: #fff;
  text-align: center;
  padding: 10px 0 40px 0;
}

footer {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

i {
  color: #fff;
}

i:hover {
  color: #FC924B;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input[type="text"], form input[type="email"], form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-family: Poppins;
}

form input[type="submit"] {
  background: #FC924B;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: Poppins;
}

form input[type="submit"]:hover {
  background: #003338;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  right: -100rem;
  z-index: 999;
  background: #000000cd;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.6s ease-in-out;
}

.sidebarh {
  display: none;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
} 

@media (max-width: 800px) {
  .hideOnMobile {
      display: none;
  }

  .sidebarh {
      display: block;
  }

  .sidebar {
      width: 40%;
}
.logo p{
  font-size: 20px;
}
}

@media (max-width: 425px) {
  .sidebar {
      width: 100%;
  }
}